<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-create-todo" data-toggle="modal" data-target="#createTodoModal">
  <i class="icon-plus"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="createTodoModal" tabindex="-1" role="dialog" aria-labelledby="createTodoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark text-white">
      <form name="$ctrl.todoCreateForm" ng-submit="$ctrl.addTodo($ctrl.todoCreateForm.$valid)" novalidate>
        <div class="modal-header border-0">
          <h5 class="modal-title" id="createTodoModalLabel">New TODO</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="todoTitle">Title</label>
            <input type="text"
                   auto-focus
                   ng-model="$ctrl.title"
                   name="title"
                   class="form-control border-bottom warning"
                   ng-class="{'is-invalid': $ctrl.todoCreateForm.title.$invalid && $ctrl.submitted}"
                   id="todoTitle"
                   required
            />
            <div ng-show="$ctrl.todoCreateForm.title.$invalid && $ctrl.submitted" class="invalid-feedback">This field is required</div>
          </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-secondary" id="closeCreateTodoModal" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>