<div class="modal fade" tabindex="-1" role="dialog" id="confirmModal{{$ctrl.task._id}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-body" id="modal-body">
        <h5 class="text-center text-warning">Are you sure?</h5>
        <div class="d-flex justify-content-evenly mt-4">
          <button class="btn btn-danger" type="button" ng-click="$ctrl.confirmAction()">Delete</button>
          <button class="btn btn-warning" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>