<div class="todo-list-item row py-2">
  <div class="todo-column col-8">
    <a ui-sref="todo-view({id: $ctrl.task._id})"
       class="todo-title d-flex align-items-center"
       ng-class="$ctrl.task.status ? 'text-success': 'text-warning'"
    >
      <i class="icon icon-checkmark mr-3" ng-show="$ctrl.task.status"></i>
      {{ $ctrl.task.title }}
    </a>
    <span class="todo-created text-muted mt-2">
        {{ $ctrl.task.created_at | date : "MM/dd/yyyy 'at' h:mma" }}
      </span>
    <small class="todo-updated text-muted d-block" ng-show="$ctrl.task.updated_at">
      Updated at: {{ $ctrl.task.updated_at | date : "MM/dd/yyyy 'at' h:mma" }}
    </small>
    <small class="todo-updated text-info d-block" ng-show="$ctrl.showNotificationDate()">
      Scheduled notification at {{ $ctrl.task.notification_time | date : "MM/dd/yyyy 'at' h:mma" }}
    </small>
  </div>
  <div class="todo-column col-4 text-center">
    <div class="btn-group">
      <todo-notification-btn task="$ctrl.task"></todo-notification-btn>
      <button data-toggle="modal"
              data-target="#confirmModal{{$ctrl.task._id}}"
              class="btn btn-link text-danger"><i class="icon icon-cross"></i>
      </button>
    </div>
  </div>
</div>