.navbar {
  &.fixed-top {
    z-index: 1050;
  }
}

.form-check {
  padding: 0;
  .icon-checkbox {
    padding: 0 .75rem;
  }
}

h4 {
  font-size: 1.25rem;
}

.justify-content-evenly {
  justify-content: space-evenly!important;
}

.form-control {
  color: #ffffff;
  background: none;
  padding: 0;
  height: auto;
  border: none;
  outline: 0;
  box-shadow: none;

  &:focus {
    background: none;
    box-shadow: none;
    border: none;
    color: #ffffff;
  }
}

.modal {
  .modal-content {
    border-radius: 0;
    background: none;
  }
}

.todo-notification-info {
  position: absolute;
  bottom: 0.5em;
  left: 2em;
}

.todo-list-items {
  .todo-list-item {
    border-bottom: 1px solid #777;
  }
  .todo-column-title {
    //font-size: .875em;
  }

  .todo-column {
    vertical-align: middle;
    word-break: break-word;
    line-height: 1.2;
  }

  .order-control {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }

    .icon {
      margin: 0 5px;
      vertical-align: middle;
    }
  }
  .todo-title {
    font-size: 1.2em;
    word-break: break-word;
  }
  .todo-created {
    font-size: .875em;
    display: block;
    line-height: 1.3em;
  }
}

.datetimepicker {
  .glyphicon {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.glyphicon-arrow-right {
      &:before {
        content: "\ea34";
      }
    }
    &.glyphicon-arrow-left {
      &:before {
        content: "\ea38";
      }
    }
  }
}
.loader {
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #547b63a8;
  position: absolute!important;
  pointer-events: none;

  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    margin-top: -1.5em;
    margin-left: -1.5em;
    border-radius: 50%;
    border: 2px solid #de9700;
    border-top-color: #547b63a8;
    animation: spinner .6s linear infinite;
  }

  //&.ng-show {
  //
  //}
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}