<small class="todo-notification-info text-info d-block" ng-show="$ctrl.showNotificationDate()">
  Scheduled notification at {{ $ctrl.task.notification_time | date : "MM/dd/yyyy 'at' h:mma" }}
</small>
<button data-toggle="modal"
        type="button"
        data-target="#datetimepickerModal{{$ctrl.task._id}}"
        class="btn btn-link text-info"
        id="addNotificationBtn_{{$ctrl.task._id}}"
>
  <i class="icon icon-calendar"></i>
</button>
<div class="modal fade" tabindex="-1" role="dialog" id="datetimepickerModal{{ $ctrl.task._id }}">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-warning">
      <div class="modal-body" id="modal-body">
        <h5 class="text-center">Select time</h5>
        <div class="d-flex justify-content-evenly mt-4">
          <datetimepicker data-ng-model="data.date" data-on-set-time="$ctrl.onTimeSet(newDate)"></datetimepicker>
        </div>
      </div>
    </div>
  </div>
</div>