<nav class="navbar navbar-dark bg-dark mb-3 fixed-top border-bottom border-dark shadow">
  <div class="container d-flex justify-content-center">
    <a class="navbar-brand" ui-sref="home">TODO List</a>
    <todo-create></todo-create>
  </div>
</nav>