<form name="$ctrl.todoEditForm" ng-submit="$ctrl.update($ctrl.todoEditForm.$valid)" novalidate>
  <div class="form-group border-bottom pt-3 border-warning">
    <h4 ng-show="!$ctrl.edit['title']" ng-click="$ctrl.showEditField('title')" class="text-center text-warning">
      {{ $ctrl.task.title }}
      <i class="icon icon-pencil float-md-right"></i>
    </h4>
    <input name="taskTitle"
           ng-model="$ctrl.task.title"
           ng-show="$ctrl.edit['title']"
           ng-blur="$ctrl.update($ctrl.todoEditForm.$valid)"
           class="form-control text-center text-warning form-control-lg border-warning"
           ng-class="{'is-invalid': $ctrl.todoEditForm.title.$invalid && $ctrl.submitted}"
           type="text"
           id="taskTitle"
           auto-focus
           required
    />
    <div ng-show="$ctrl.todoEditForm.title.$invalid && $ctrl.submitted" class="invalid-feedback">This field is required</div>
  </div>
  <div class="form-group border-bottom pt-4 mt-4 border-info">
    <p ng-show="!$ctrl.edit['description']"
       ng-click="$ctrl.showEditField('description')"
       class="text-info">
      <span ng-bind-html="$ctrl.showDescription()"></span>
      <i class="icon icon-pencil float-md-right"></i>
    </p>
    <textarea name="taskDescription"
              auto-size
              auto-focus
              style="resize: none;"
              ng-model="$ctrl.task.description"
              ng-show="$ctrl.edit['description']"
              ng-blur="$ctrl.update($ctrl.todoEditForm.$valid)"
              class="form-control text-info border-info"
              id="taskDescription"
    ></textarea>
  </div>
  <div class="form-group">
    <div class="form-check">
      <label class="form-check-label" for="taskIsDone">
        <span class="text-{{ $ctrl.task.status ? 'success': 'warning' }} icon-checkbox icon-checkbox-{{ $ctrl.task.status ? 'checked': 'unchecked' }}">
          <input class="form-check-input d-none"
                 type="checkbox"
                 ng-model="$ctrl.task.status"
                 ng-change="$ctrl.update($ctrl.todoEditForm.$valid)"
                 id="taskIsDone">
        </span>
        {{ $ctrl.task.status ? 'Task is DONE' : 'Mark as DONE' }}
      </label>
    </div>
  </div>
  <hr class="border-info">
  <div class="form-group">
    <label>
      <todo-notification-btn ng-if="$ctrl.task" data-show-info="true" task="$ctrl.task"></todo-notification-btn> Add notification
    </label>

  </div>
</form>