<div class="container">
  <div ng-show="$ctrl.todos.length === 0 || $ctrl.loading ">
    <hr class="border-warning mx-4">
    <h1 class="text-center mt-4 text-uppercase" >
      <small ng-show="$ctrl.todos.length === 0">You don't have tasks yet.</small>
      <small ng-show="$ctrl.loading">Loading...</small>
    </h1>
    <hr class="border-warning mx-4">
  </div>
  <div class="todo-list-items" ng-show="$ctrl.todos.length > 0 &&  $ctrl.todos[0] !== 'loading'">
    <div class="row mb-4 align-items-center">
      <div class="col-5">
        <div class="todo-column-title">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon mr-2" ng-class="$ctrl.reverseOrder ? 'icon-sort-amount-desc' : 'icon-sort-amount-asc'"></i>
              {{ $ctrl.orderProps[$ctrl.orderProp]; }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuFilter">
              <a class="dropdown-item order-control" href="#"
                 ng-repeat="(key, orderProp) in $ctrl.orderProps"
                 ng-click="$ctrl.orderBy(key)"
              >
                {{ orderProp }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-7 todo-column-title text-center">
        <input type="text" class="form-control border-bottom border-warning" placeholder="Search" ng-model="$ctrl.search">
      </div>
    </div>
    <todo-item task="task" ng-repeat="task in $ctrl.todos | filter: $ctrl.search | orderBy : $ctrl.orderProp : $ctrl.reverseOrder"></todo-item>
  </div>
</div>
