<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name=" theme-color" content="#343a40">
  <title>TODO list</title>
</head>
<body class="bg-dark text-white pt-5">
<todo-navbar></todo-navbar>
<div class="view-container mt-4">
  <ui-view name="content" class="view-frame m-0"></ui-view>
</div>
<http-request-loader class="loader"></http-request-loader>
{% if isCordova %}
  <script type="text/javascript" src="cordova.js"></script>
{% endif %}
</body>
</html>
